@charset "utf-8";
/* 混合宏 */
* {
  margin: 0;
  padding: 0;
}
html {
  height: 540px;
  overflow: hidden;
}
body {
  font-family: 'Microsoft YaHei';
}
ul,
li {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}
input,
textarea {
  outline: none;
}
.quick-login-box {
  width: 490px;
  height: 540px;
  zoom: 1;
  overflow: hidden;
}
.quick-login-box a {
  cursor: pointer;
}
.quick-login-box .logo {
  width: 220px;
  height: 220px;
  margin: 40px auto 0;
  background: url(../images/logo_new_1x.png) no-repeat;
  background-image: -webkit-image-set(url(../images/logo_new_1x.png) 1x, url(../images/logo_new_2x.png) 2x);
  background-image: -image-set(url(../images/logo_new_1x.png) 1x, url(../images/logo_new_2x.png) 2x);
}
.slides-box {
  position: relative;
  width: 400px;
  height: 136px;
  margin: 60px auto 0;
  opacity: 1;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.slides-box a.prev,
.slides-box a.next {
  position: absolute;
  top: 10px;
  display: block;
  width: 40px;
  height: 60px;
  line-height: 60px;
  font-size: 28px;
  color: #777777;
  text-align: center;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.slides-box a.prev:hover,
.slides-box a.next:hover {
  color: #000000;
}
.slides-box a.prev {
  left: 0;
}
.slides-box a.next {
  right: 0;
}
.slides-box ul {
  width: 310px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.slides-box ul li {
  position: relative;
  width: 345px;
  height: 80px;
  overflow: hidden;
}
.slides-box ul div {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 345px;
  overflow: hidden;
}
.slides-box ul div.current,
.slides-box ul div.wait {
  display: block;
}
.slides-box ul div.slides-anime {
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.slides-box ul a {
  display: block;
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 35px;
}
.slides-box .slides_dot {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.slides-box .slides_dot a {
  display: inline-block;
  padding: 8px;
}
.slides-box .slides_dot a:hover i {
  background-color: #cccccc;
}
.slides-box .slides_dot a.current i {
  background-color: #777777;
}
.slides-box .slides_dot i {
  display: block;
  width: 6px;
  height: 6px;
  border: 2px solid #777777;
  border-radius: 100%;
  background-color: #ffffff;
  text-indent: -999px;
  overflow: hidden;
}
.slides-box.hide {
  opacity: 0;
}
.btn-box {
  width: 410px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  overflow: hidden;
}
.btn-box a {
  float: left;
  display: block;
  width: 50%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #999999;
}
.btn-box a:hover {
  background-color: #f7f7f7;
}
a.dialog-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 24px;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
  color: #cccccc;
}
a.dialog-close:hover {
  color: #666666;
}
a.iframe-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
  display: block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 40px;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
  color: #cccccc;
}
a.iframe-close:hover {
  color: #666666;
}
.dialog-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
}
.dialog-mask.show {
  display: block;
}
.input-box {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  font-size: 14px;
}
input[type=text],
input[type=password] {
  width: 244px;
  height: 18px;
  line-height: 18px;
  padding: 10px 10px 10px 44px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  color: #666666;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
  font-size: 14px;
}
input[type=text].err,
input[type=password].err {
  border: 1px solid #ff0000;
  box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.2);
}
input[type=text]:focus,
input[type=password]:focus {
  border: 1px solid #00aaff;
  box-shadow: inset 0 0 10px rgba(0, 170, 255, 0.4);
}
a.btn-login-local,
a.btn-register-local {
  width: 150px;
  height: 40px;
  line-height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background-color: #66ccff;
}
a.btn-login-local {
  margin-top: 20px;
}
.local-login,
.local-register {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 400px;
  height: 270px;
  box-sizing: border-box;
  padding: 0 50px;
  background-color: #ffffff;
  margin-left: -200px;
  color: #666666;
  opacity: 0;
  transform: translateY(0%);
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.local-login .title,
.local-register .title {
  line-height: 50px;
  text-align: center;
}
.local-login i.iconfont,
.local-register i.iconfont {
  position: absolute;
  top: 10px;
  left: 11px;
  font-size: 20px;
  color: #dddddd;
}
.local-login.show,
.local-register.show {
  opacity: 1;
  z-index: 2;
  transform: translateY(-100%);
}
.local-login .remember-box {
  font-size: 14px;
}
.local-login .remember-box a {
  color: #666666;
}
.local-login a.forget-passwd {
  float: right;
}
