@charset "utf-8";
/* CSS Document */
.iconfont{
    -webkit-font-smoothing: inherit; 
    -webkit-text-stroke-width: 0; 
}
.goods_Share{
    width: 390px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10000;
    margin:-245px 0 0 -195px;
    /*-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);*/

    background: #fff;
    box-shadow: 2px 0 26px 3px rgba(122, 141, 160, 0.5);
    border: 1px solid #eff0f3;
    border-radius: 6px;
    display: none;
    text-align: center;
}
.goods_Share .user-img{
    margin: 0 auto;
    height: 300px;
    line-height: 300px;
    text-align: center;
    display: block;
    overflow: hidden;
}
.goods_Share .user-img img{
    max-height: 80%;
    max-width: 80%;
    width: auto;
    vertical-align: middle;
}
.goods_Share .Shaer_colse{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    transition: all .3s ease;
    cursor: pointer;
    background-color: #fff;
    border-radius: 0 7px 0 7px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}
.goods_Share .Shaer_colse:before{
    display: inline-block;
    transition: all .3s ease;
}
.goods_Share .Shaer_colse:hover:before{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.goods_Share .link {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #646464;
    margin: 15px 0;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 20%;
    overflow: hidden;
}
.goods_Share .link .iconfont{
    margin-right: 3px;
}
.goods_Share .link input{
    opacity: 0;
    position: absolute;
    left: 100%;
    top:100%;
}
.goods_Share .copy-link{
    font-size: 12px;
    color: #000;
    border: 1px solid #e5e5e5;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: all .5s ease;
    
}
.goods_Share .copy-link.showlink{
    padding-left: 30px;
}
.goods_Share .copy-link .iconfont{
    font-size: 12px;
    color: #fff;
    margin-right: 5px;
    background-color: #66AA2F;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    top: 6px;    
    left: 10px;
    position: absolute;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    transition: all .5s cubic-bezier(1, 0.75, 0, 1.49);
}
.goods_Share .copy-link.showlink .iconfont{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.goods_Share .S_cont{
    color: #b4b4b4;
    display: block;
    margin: 20px 0;
    font-size: 12px;
    text-align: center;
}

.goods_Share .Sh_name{
    display: block;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
}

.goods_Share .Sh_name #ckepop{
    display: inline-block;
}
.goods_Share .Sh_name #ckepop .iconfont{
    margin-left: 15px;
    float: left; 
    width:34px;
    line-height:34px;
    text-align: center;
    border-radius: 100%;
    font-size: 18px;
    color: #fff;
    transition:all .3s ease;
    cursor: pointer;
    position: relative;
}
.goods_Share .Sh_name #ckepop .iconfont:first-child{
    margin: 0;
}
.goods_Share .Sh_name #ckepop .iconfont:hover{
    box-shadow: 0 0 5px rgba(0,0,0,.7);
}
.goods_Share .Sh_name #ckepop .jtico {
    display:none!important;
}
.goods_Share .Sh_name #ckepop .jiathis_button_weixin{
    background-color: #66aa2f;
}
.goods_Share .Sh_name #ckepop .jiathis_button_cqq{
    background-color: #1fb9e6;
}
.goods_Share .Sh_name #ckepop .jiathis_button_tsina{
    background-color: #d0422b;
}
.goods_Share .Sh_name #ckepop .jiathis_button_fb{
    background-color: #3289da;
}
.goods_Share .Sh_name #ckepop .jiathis_button_twitter{
    background-color: #00acf0;
}
.goods_Share .Sh_name #ckepop .jiathis_button_googleplus{
    background-color: #d0422b;
}
.goods_Share .Sh_name #ckepop .jiathis_button_code{
    background-color: #a37157;
}
.goods_Share .Sh_name #ckepop .jiathis_button_code .qrcode{
    position: absolute;
    width: 190px;
    bottom: 45px;
    left: 50%;
    margin-left: -95px;
    text-align: center;
    background-color: #e5e5e5;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.13);
    border-radius: 4px;
    display: none;
    opacity: 0;
    -webkit-transform: translateY(5%);
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -o-transform: translateY(5%);
    transform: translateY(5%);
    
}
.goods_Share .Sh_name #ckepop .jiathis_button_code .qrcode #qrcode{
    width: 145px;
    height: 145px;
    margin-top: 15px;
    display: inline-block;
    overflow: hidden;
    padding: 10px;
    background-color: #fff;
}
.goods_Share .Sh_name #ckepop .jiathis_button_code .qrcode:after{
    content: "";
    border: solid transparent;
    border-width: 8px 10px;
    border-top-color: #e5e5e5;
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -10px;
}
.goods_Share .Sh_name #ckepop .jiathis_button_code .qrcode #qrcode img{
    width: 100%;
    height: 100%;
}
.goods_Share .Sh_name #ckepop .jiathis_button_code .qrcode .title{
    display: block;
    font-size: 12px;
    color: #000;
    line-height: 15px;
    margin: 10px 0;
}
.goods_Share .Sh_name #ckepop .jiathis_button_code:hover .qrcode{
    display: block;
    animation:jiathis_button_code .8s 1 forwards;
    -webkit-animation:jiathis_button_code .8s 1 forwards;
    -moz-animation:jiathis_button_code .8s 1 forwards;
    -o-animation:jiathis_button_code .8s 1 forwards;
}
@keyframes jiathis_button_code{
    100%{
        opacity: 1;
        transform:translateY(0%);
    }
}

@-moz-keyframes jiathis_button_code{
    100%{
        opacity: 1;
        -moz-transform:translateY(0%);
    }    
}

@-webkit-keyframes jiathis_button_code{
    100%{
        opacity: 1;
        -webkit-transform:translateY(0%);
    }
}
@-o-keyframes jiathis_button_code{
    100%{
        opacity: 1;
        -o-transform:translateY(0%);
    }
}
#jiathis_weixin_modal{
    margin-left: -180px!important;
    border-color: rgba(122, 141, 160, 0)!important;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3)!important;
}
#jiathis_modal_footer{
    height: auto!important;
}