<!DOCTYPE html>
<html ng-app="uersinfo">
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
            <link rel="stylesheet" href="/font/iconfont.css">
            <link rel="stylesheet" href="/css/header.css">
            <link rel="stylesheet" href="/css/user/info.css">
    </head>
<body ng-controller="infoCtr">
    <div modheaderfull></div>
    <div moduserhead></div>
    <!-- info-warp -->
    <div class="layout info">
        <div class="info-pic" upfileimg>
            <span class="info-pic-thumb" style="background-image:url({{imgUrl}}{{inforMation.imageUrl}}{{qnIcon}})"></span>
            <span class="info-pic-photo">
                <i class="iconfont icon-xq-photo"></i>
                <input type="file" title="{{LANG.BUTTON.ICONED}}}" name="upIco" class="fileDemo" accept="image/jpeg,image/gif,image/png">
            </span>
        </div>
        <div class="info-data">
            <ul>
                <li>
                    <span class="label">ID：</span>
                    <div class="info-input"><i ng-bind="inforMation.accountName"></i></div>
                </li>
                <li>
                    <span class="label"><font ng-bind="LANG.TEXT.T103"></font>：</span>
                    <div class="info-input"><i ng-bind="inforMation.email"></i></div>
                </li>
                <li>
                    <span class="label"><font ng-bind="LANG.TEXT.T104"></font>：</span>
                    <div class="info-input"><input type="text" maxlength="30" value="{{inforMation.nikeName}}" class="text" ng-blur="onName()" id="userName" /><span class="sp_hint"></span></div>
                </li>
                <li>
                    <span class="label"><font ng-bind="LANG.TITLE.ABOUT"></font>：</span>
                    <div class="info-input"><textarea id="user_desc" onkeydown="if(event.keyCode==13){event.keyCode=0;event.returnValue=false;}" maxlength="160" ng-bind="inforMation.description"></textarea></div>
                </li>
                <li>
                    <span class="label"><font ng-bind="LANG.TITLE.SEX"></font>：</span>
                    <div class="info-input" id="gender">
                        <label>
                            <i></i><input type="radio" name="gender" value="2" id="male"><font ng-bind="LANG.TITLE.MALE"></font>
                        </label>
                        <label>
                            <i></i><input type="radio" name="gender" value="1" id="female"><font ng-bind="LANG.TITLE.FEMALE"></font>
                        </label>
                        <label>
                            <i></i><input type="radio" name="gender" value="0" id="Secret"><font ng-bind="LANG.TITLE.SECRECY"></font>
                        </label>
                    </div>
                </li>
                <li class="info-bnt">
                    <a class="revamp-pwd" ng-click="ChangePwdBtn()" ng-bind="LANG.BUTTON.PASSWDED"></a>
                </li>
                <li class="info-cancel-confirm">
                    <a class="cancel" ng-click="cancel()" ng-bind="LANG.BUTTON.CANCEL"></a>
                    <a class="confirm" ng-click="confirm()" ng-bind="LANG.BUTTON.ENTER"></a>
                </li>
            </ul>
        </div>
    </div>
    <!--changepsw-->
    <div class="change-pwd" id="changePwdBox">
        <div class="colse-box">
            <font ng-bind="LANG.BUTTON.PASSWDED"></font>
            <a class="colse" href="javascript:;" id="pwdClose"><i class="iconfont icon-close-b"></i></a>
        </div>
        <div class="change-pwd-form">
            <ul>
                <li>
                    <span ng-bind="LANG.TITLE.PASSWDOLD"></span><div><input type="text" value="" id="oldpwd" placeholder="{{LANG.TITLE.PASSWDOLD}}" /><i class="error-msg" id="oldMsg"></i></div>
                </li>
                <li>
                    <span ng-bind="LANG.TITLE.PASSWDNEW"></span><div><input type="text" value="" id="newpwd" placeholder="{{LANG.TITLE.PASSWDNEW}}" /><i class="error-msg" id="newMsg"></i></div>
                </li>
                <li>
                    <span ng-bind="LANG.BUTTON.PASSWDET"></span><div><input id="confirmpwd" type="text" value="" placeholder="{{LANG.BUTTON.PASSWDET}}" /><i class="error-msg" id="confirMsg"></i></div>
                </li>
            </ul>
            <div class="bnt">
                <a class="bnt-confirm" ng-disabled="signup_form.$invalid" ng-click="ChangeEditPwd()" ng-bind="LANG.BUTTON.ENTER"></a>
            </div>
        </div>
    </div>
    <div class="box-fixed"></div>
    <!-- JS -->
    <script src="/js/config.js"></script>
    <script src="/js/ArtJS/lib/jquery-2.1.4.min.js"></script>
    <script src="/js/ArtJS/ArtJS.js"></script>
    <script src="/js/ArtJS/plug-in-unit.js"></script>
    <script src="/js/init.js"></script>
    <script src="/js/ArtJS/lib/angular.min.js"></script>
    <script src="/js/user/headPortrait.js"></script>
    <script src="/module/mod-header-full.js"></script>
    <script src="/js/user/info.js"></script>
</body>
</html>