<!-- mod-home-tag start -->
<div id="modHomeTag" class="mod-home-tag" ng-controller="modHomeTagController">
	<div class="layout">
		<div class="container">
			<div id="homeTag" class="home-tag">
				<!-- product -->
				<dl ng-repeat="category in sortProduct" class="sort-product">
					<dt>
						<a id="category_{{category.id}}" data-pid="{{category.id}}" ng-click="getIndexMarket(this, 1);"><span ng-bind="category.typeName"></span></a>
					</dt>
					<s ng-if="category.children.length"></s>
					<dd ng-if="category.children.length">
						<a id="product_{{product.id}}" ng-repeat="product in category.children" class="{{product.active}}" data-pid="{{product.id}}" ng-click="getIndexMarket(this, 2);"><span ng-bind="product.typeName"></span></a>
					</dd>
				</dl>
			</div>
			<a class="publish-works" ng-click="publish();"><i class="iconfont icon-iconfontadd"></i><span ng-bind="LANG.BUTTON.WORKSPUB"></span></a>
		</div>
	</div>
</div>
<!-- mod-home-tag end -->