<!--start-->
<div class="copy-fist copy-all">
    <div class="colse-box">
        <font ng-bind="LANG.BUTTON.COPYRIGHT"></font>
        <a class="" href="javascript:;" id="colse"><i class="iconfont icon-close-b"></i></a>
    </div>
    <div class="c-txt">
        <font ng-bind="LANG.ALERT.A010"></font>
    </div>
</div>
<!--成功-->
<div class="copy-two copy-all">
    <div class="colse-box">
        <font ng-bind="LANG.BUTTON.COPYRIGHT"></font>
        <a class="colse" href="javascript:;" id="colse"><i class="iconfont icon-close-b"></i></a>
    </div>
    <h2><font ng-bind="LANG.ALERT.A016"></font><br>
        <font ng-bind="LANG.ALERT.A017"></font></h2>
    <div class="c-two-img">
        <span class="ib-box">
            <img ng-bind="copyright" id="copy-img">
        </span>
    </div>
    <h2 class="title">
        <font ng-bind="LANG.ALERT.A018"></font>
    </h2>
    <div class="copy-bnt">
        <a href="javascript:;" ng-click="copySure()" ng-bind="LANG.BUTTON.ENTER">
            
        </a>
    </div>
</div>
<!--失败-->
<div class="copy-three copy-all">
    <div class="colse-box">
        <font ng-bind="LANG.BUTTON.COPYRIGHT"></font>
        <a class="" href="javascript:;" id="colse"><i class="iconfont icon-close-b"></i></a>
    </div>
    <h2 ng-bind="LANG.TEXT.T028"></h2>
    <div class="copy-three-ed">
        <!--证明证明信息-->
        <div class="zhm-xinxi">
            <div class="lab" ng-bind="LANG.TEXT.T029"></div>
            <div class="text">
                <textarea id="textarea" maxlength="300" ng-model="title" ng-keydown="fontLength($event)" ng-keyup="fontLength($event)"></textarea>
                <span style="{{title.length>=300?'color:#f00':''}}">
					<font class="ng-binding" id="copy-on-a"></font>/<font id="copy-on-b"></font>
				</span>
            </div>
        </div>
        <div class="zhm-img">
            <div class="lab" ng-bind="LANG.TEXT.T030"></div>
            <div class="cop-img">
                <ul id="ul-up-file">
                    <li>
                        <div id="up-file">

                        </div>
                        <div id="up-file-div" title="{{LANG.TEXT.T030}}" upfileimg>
                            <label for="fileDemo" class="iconfont icon-add">
                                <input type="file" multiple="multiple" mark="3" onchange="handleFiles(this.files)" name="fileDemo" id="fileDemo" maxlength="3" class="fileDemo" accept="image/jpeg,image/gif,image/png"/>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copy-bnt">
        <a href="javascript:;" class="cancel" ng-bind="LANG.CALENDAR.CANCEL">
            
        </a>
        <a href="javascript:;" ng-click="proofSubt()" ng-bind="LANG.BUTTON.ENTER">
            
        </a>
    </div>
</div>
<!--遮罩层-->
<div class="copy-out"></div>