<!--header start -->
<div id="headerBox" class="header" ng-controller="headerController">
	<div class="layout">
		<div class="container header-con">
			<a href="/" class="logo"></a>
			<div class="header-search">
				<div id="keywordsMap" class="keywords-map">
					<span ng-repeat="list in keywordMap" style="color: hsl({{list.color}}, 100%, 20%);background-color: hsl({{list.color}}, 100%, 80%);">{{list.text}}<a class="iconfont icon-close-b" style="color: hsl({{list.color}}, 100%, 30%);" onclick="SEARCH_HANDLE.removeKeyword(this);" data-key="{{list.text}}"></a></span>
				</div>
				<input id="searchContext" type="text" class="input hide" placeholder="{{info.placeholder}}" ng-model="searchContext" name="searchContext" onfocus="SEARCH_HANDLE.focus();" onblur="SEARCH_HANDLE.blur();">
				<a id="btnSearch" class="btn-search iconfont icon-search" ng-click="searchSubmit();"></a>
			</div>
			<ul id="headerMenu" class="header-menu">
				<li class="iconfont ico-gift"><a href="/page/{{LANG.NAME}}/shop.html" ng-bind="LANG.TYPE.SHOP"></a>
					<span class="sanjiao"></span>
				</li>
				<!-- <li><a href="/page/{{LANG.NAME}}/community.html" ng-bind="LANG.TYPE.COMMUNITY"></a></li> -->
				<li class="iconfont ico-photo"><a href="/artsdiy/index.html?diy=1" ng-bind="LANG.TYPE.DIY"></a>
					<!-- <span class="sanjiao"></span> -->
				</li>
			</ul>

			<div id="loginBox" class="login-box{{navState}}" ng-controller="userSide">
				<div class="login-con">
					<div class="user-info">
						<div id="btnNav" class="btn-nav">
							<i class="iconfont icon-list"></i>
							<s></s>
							<div id="navList" class="nav-list"></div>
						</div>
						<div id="userLogin" class="user-login"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- header end -->

<!-- user-side start -->
<!-- user-side end