@charset "utf-8";
/*a,button,input{ -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-modify: read-write-plaintext-only;
	}*/
.container .art_box.filament-ring li {
    float: none;
}
.container .art_box li .art_img {
    width: 270px;
    height: 270px;
    background-size: 100%;
    position: relative;
    background: center no-repeat;
    border-bottom: 1px solid #f0f0f0;
}
.container .art_box li .art_img div.img{
    width: 270px;
    height: 270px;
    background: center no-repeat;
    background-size: cover;
}
.container .art_box li .art_img.special{
    height: 270px;
    background: center no-repeat;
    background-size: cover;
}
.container .art_box li .art_img.Aartwork{
    height: 270px;
    background: center no-repeat;
    background-size: cover;
}
.container .art_box li .art_img.special a {
    display: block;
    line-height: 1.5;
    vertical-align: middle;
    height: 100%;
}
.container .art_box li .art_img a img {
    max-width: 270px;
    float: left;
}
.container .art_box li .text {
    width: 248px;
    border: 1px solid #f0f0f0;
    padding: 10px;
    text-align: center;
    float: left;
}
.container .art_box li .text.none {
    display: none;
}
.container .art_box li .text h2 {
    font-size: 14px;
    margin-bottom: 10px;
    height: 18px;
    overflow: hidden;
}
.container .art_box li .art_img span.special {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 270px;
    padding: 10px;
    line-height: 24px;
    font-size: 18px;
    color: #fff;
    text-align: left;
    box-sizing: border-box;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .5)));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    margin: 0;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}
.container .art_box li .text .user {
    height: 20px;
    margin-bottom: 10px;
    display: block;
    line-height: 20px;
}
.container .art_box li .text .user b {
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 100%;
    background: #ddd;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.container .art_box li .text .user b img {
    width: 20px;
    height: 20px;
}
.container .art_box li .text .user a {
    color: #999;
}
.container .art_box li .text .del {
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
}
.container .art_box li .text .del span {
    width: 50%;
    float: left;
    display: block;
    line-height: 24px;
    color: #666;
}
.container .art_box li .text .del span em {
    font-style: normal;
}
.container .art_box li .text .del span b {
    width: 24px;
    height: 24px;
    overflow: hidden;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    background: url(like_ico.png) 0 -27px no-repeat;
}
.container .art_box li .text .del span b.ico-likes {
    background-position: 0 -1px;
}
.container .art_box li .text .del span i {
    font-style: normal;
    display: inline-block;
    margin-right: 2px;
}
.container .art_box li.commodity {
}
.container .search {
    width: 500px;
    height: 40px;
    margin: 20px 260px 30px;
}
.container .top_search .search_input {
    width: 400px;
    height: 40px;
    float: left;
    position: relative;
}
.container .search .input {
    width: 388px;
    height: 18px;
    overflow: hidden;
    border: 1px solid #000;
    padding: 10px 5px;
    font-family: 'Microsoft YaHei';
}
.container .search .classifybox {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 1;
    width: 390px;
    height: 30px;
}
.container .search .classify {
    width: 122px;
    height: 25px;
    padding: 3px 3px 2px;
    background: url(sear_ico.jpg) no-repeat;
    margin-right: 5px;
    display: block;
    float: left;
    color: #949fab;
    font-size: 14px;
}
.container .search .classify .icoimg {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
.container .search .classify .icoimg img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}
.container .search .classify .cloce {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(cloce_ico.jpg) no-repeat;
    cursor: pointer;
    vertical-align: middle;
    float: right;
    margin: 4px;
}
.container .search .classifybox .classp {
    line-height: 25px;
    font-size: 14px;
    color: #000;
    display: inline-block;
    padding: 0 5px;
}
.container .search .classifybox .cloce2 {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(cloce_ico2.jpg) no-repeat;
    cursor: pointer;
    vertical-align: middle;
    float: right;
    margin: 6px 6px 0;
}
.container .search .button {
    width: 100px;
    height: 40px;
    background: #000;
    text-align: center;
    border: 0 none;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    font-family: 'Microsoft YaHei';
}
.container .prodbox {
    width: 700px;
    margin: 0px 160px;
}
.container .prodbox dl {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
.container .prodbox dl dt {
    font-size: 18px;
    margin-bottom: 20px;
}
.container .prodbox dl dd {
    width: 50px;
    height: auto;
    float: left;
    margin: 0px 25px 20px;
    display: inline;
}
.container .prodbox dl dd .prod_img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.container .prodbox dl dd .text {
    color: #666;
}
.container .prodbox dl dd .text a {
    color: #666;
}
.container .prodlist {
    width: 800px;
    margin: 0 110px 30px;
}
.container .prodlist li {
    width: 50px;
    height: auto;
    float: left;
    margin: 0 25px 10px;
    border-bottom: 2px solid #fff;
    text-align: center;
    padding-bottom: 10px;
}
.container .prodlist li .prod_img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.container .prodlist li .text {
    color: #000;
    font-size: 14px;
}
.container .prodlist li.hover {
    border-bottom: 2px solid #000;
}
.page-mark {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #000;
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
    overflow: scroll;
    padding: 0 24px 24px 0;
}
.navmore {
    width: 210px;
    height: 100%;
    background: #000;
    padding: 10px 0 0 40px;
    position: fixed;
    z-index: 99999;
    right: -260px;
    top: 0px;
}
.navmore .morebox {
    width: 100%;
}
.navmore .morebox li {
    margin: 30px 0 0 0;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 2px;
}
.navmore .morebox li a {
    color: #fff;
}
.navmore .morebox li b {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(nav_ico1.png) no-repeat;
    vertical-align: middle;
    margin-right: 30px;
}
.navmore .morebox li b.home {
    background-position: 0px 0px;
}
.navmore .morebox li b.car {
    background-position: -24px 0px;
}
.navmore .morebox li b.my {
    background-position: -48px 0px;
}
.navmore .morebox li b.address {
    background-position: -72px 0px;
}
.navmore .morebox li b.us {
    background-position: -96px 0px;
}
.navmore .morebox li b.tc {
    background-position: -120px 0px;
}
.navmore .morebox li b.privacy {
    background-position: -144px 0px;
}
.navmore .morebox li b.exit {
    background-position: -168px 0px;
}
.headerbox .top_search #searchs {
    line-height: 27px;
    padding: 5px;
    float: left;
}
.headerbox .top_search #searchs p {
    float: left;
    margin-left: 4px;
    margin-right: 6px;
}
.headerbox .top_search .cloce2 {
    display: inline-block;
    background: url(cloce_ico2.jpg) no-repeat right;
    cursor: pointer;
    vertical-align: middle;
    height: 28px;
}
.headerbox .top_search .cloce2 span {
    padding-right: 18px;
}
#container {
    position: relative;
}
/*专题编辑器*/
.topic_logo {
    width: 100px;
    height: 100px;
    margin: 30px auto 35px;
}
.topic_logo a{
    display: block;
    width: 100px;
    height: 100px;
}
.topic_logo a img{
    width: 100px;
    height: 100px;
}
.topic_cont {
    width: 1000px;
    height: auto;
    margin: 0 0 30px;
    overflow: hidden;
}
.topic_cont .topic_content {
    width: 722px;
    background: #fbfbfb;
    padding: 20px 139px 30px;
}
.topic_cont h1 {
    font-size: 24px;
    font-family: "微软雅黑";
    padding-top: 46px;
}
.topic_cont p.v {
    font-size: 14px;
    color: #bfbdb8;
    padding-top: 18px
}
.topic_cont h1, .topic_cont p.v {
    text-align: center;
    background: #fbfbfb;
}
.topic_content {
    color: #333;
    font-size: 14px
}
.topic_content .t1 p.txt {
    line-height: 36px;
    padding-top: 30px
}
.topic_content .t1 span {
    text-align: left;
    padding-top: 20px;
    display: inherit
}
.topic_content .t1 .pimg {
    text-align: center;
    padding-top: 34px
}
.topic_content .t1 .pimg i {
    display: inherit;
    font-style: normal;
    padding-top: 10px
}
.topic_content .t1 .pimg i::before {
    content: "▲";
}
.topic_cont .por_details {
    overflow: hidden;
    clear: both
}

.topic_cont .por_details h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 36px;
    color: #808080;
    line-height: 140%;
    text-align: center;
    background: url(nav-bg-top.png) no-repeat center 50px;
    margin-top: 50px;
    padding-bottom: 32px;
    padding-top: 0
}

.topic_cont .por_details .pord_img_list {
    padding-top: 52px;
}
/*搜索*/
.iptwrap {
    position: relative;
    float: left;
    width: 100%;
    cursor: text;
}
.topic_cont .lable label {
    display: block;
    position: absolute;
    left: 2px;
    top: 0;
    z-index: 1;
    width: 240px;
    height: 19px;
    line-height: 19px;
    color: #ccc;
    font-size: 14px;
    overflow: hidden;
    cursor: text;
}
.top_search label.ztag.js-hidetips,
.topic_cont label.ztag.js-hidetips {
    display: none;
}
.topic_cont .lable .input {
    position: relative;
    /* left: -1px; */
    z-index: 2;
    min-width: 240px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    background: url(empty.png) 0 0 repeat;
    color: #333;
    border: 0;
    outline: 0;
    font-family: 'Microsoft YaHei';
}
/*编辑置顶*/
.container .art_box li .art-editor {
    border: 1px solid #f0f0f0;
    border-top: 0px;
    overflow: hidden;
    clear: both;
    line-height: 34px;
}
/*隐藏*/
.container .art_box li .art-editor.none {
    display: none
}
.container .art_box li .art-editor span.span-stick {
    width: 84px;
    display: block;
    margin: 0 auto;
    height: 36px;
    background: url("stick-bg.png") no-repeat 0 8px;
    cursor: pointer;
}
.container .art_box li .art-editor span.span-stick.vis {
    visibility: hidden;
}
.container .art_box li .art-editor span.span-stick.active {
    background: url("stick-bg-active.png") no-repeat 0 8px;
    background-size: 18px 16px;
    color: #1f1f1f;
}
.container .art_box li .art-editor span.span-stick i {
    padding-left: 30px;
    font-style: normal
}
.container .art_box li .art-editor.span span.span-stick {
    display: block;
    float: left;
    margin-left: 40px;
}
.container .art_box li .art-editor.span span.span-stick.zd {
    width: 60px
}
.container .art_box li .art-editor.span span.span-stick.rem {
    background: url("remd-bg.png") no-repeat 0 8px;
}
.container .art_box li .art-editor.span span.span-stick.rem.vis {
    visibility: hidden;
}
.container .art_box li .art-editor.span span.span-stick.rem.active {
    background: url("remd-bg-active.png") no-repeat 0 8px;
    /*background-size: 18px 16px*/
}
.container .art_box li .tag-div, .container .art_box li .tag-input {
    border: 1px solid #f0f0f0;
    border-top: 0px;
    overflow: hidden;
    clear: both;
    line-height: 34px;
    display: none;
}
/*删除*/
.container .art_box li .art-editor.del span.span-stick {
    float: left;
    margin-left: 44px
}
.container .art_box li .art-editor span.span-stick.del {
    background: url("editor-bg.png") no-repeat -222px -297px;
    margin-left: 10px;
}
.container .art_box li .art-editor span.span-stick.del.vis {
    visibility: hidden;
}
#stick-success {
    background: rgb(72, 196, 18);
    border: 1px solid rgb(72, 196, 18);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 16px;
    height: 50px;
    left: 50%;
    line-height: 50px;
    margin-left: -80px;
    padding: 6px;
    position: fixed;
    text-align: center;
    top: 20%;
    width: 160px;
    z-index: 99999;
}
#stick-error {
    background: red;
    border: 1px solid red;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 16px;
    height: 50px;
    left: 50%;
    line-height: 50px;
    margin-left: -130px;
    padding: 6px;
    position: fixed;
    text-align: center;
    top: 20%;
    width: 260px;
    z-index: 99999;
}
.pro-f-y {
    background: #fff;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    display: none;
}
/*mune-select 搜索*/
.mune-select {
    margin: 30px auto 0 auto;
    clear: both;
    padding-bottom: 30px;
}
.mune-select .m-ss{
    margin-right: 10px;
}
.mune-select .m-ss,.mune-select #m-s, .mune-select #showCount,.mune-select .ysp-top, .mune-select .mav{
    width: 200px;
}
.mune-select .m-ss,.mune-select #m-s, .mune-select #showCount,.mune-select .ysp-top {
    display: block;
    float: left;
}
.mune-select .ysp-top,.mune-select .mav{
    margin-left: 12px;
    float: right;
}
.mune-select .m-ss,.mune-select #m-s,.mune-select .ysp-top,.mune-select .mav {
    position: relative;
    top: 0;
    left: 0
}
.mune-select .m-ss ul,.mune-select #m-s ul,.mune-select .ysp-top ul,.mune-select .mav ul {
    display: none;
    position: absolute;
    top: 32px;
    left: 0;
    z-index: 1000;
    width: 100%;
    background: #fff;
    min-height: 60px;
    overflow-y: auto;
}
.mune-select .m-ss ul.show,.mune-select #m-s ul.show,.mune-select .ysp-top ul.show,.mune-select .mav ul.show {
    display: block;
}
.mune-select .m-ss ul li,.mune-select #m-s ul li,.mune-select .ysp-top ul li,.mune-select .mav ul li {
    border: 1px solid #c8c8c8;
    cursor: pointer;
    border-top: 0;
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 3px;
    text-align: center;
    transition:all .3s ease;
}
.mune-select .m-ss ul li:hover,
.mune-select #m-s ul li:hover,
.mune-select .ysp-top ul li:hover,
.mune-select .mav ul li{
    background-color: #e5e5e5;
}
.mune-select #selectxb, .mune-select #selectTag,.mune-select #M_nav {
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 3px;
    border: 1px solid #c8c8c8;
    text-align: center;
    border-radius: 3px 3px 0 0;
}
#selectTop{
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 3px;
    border: 1px solid #c8c8c8;
    text-align: center;
    border-radius: 3px 3px 0 0;
}
.mune-select #showCount {
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 3px;
    margin-left: 20px;
    margin-top: 2px;
}
/*星级*/
.art-star {
    padding: 12px 0;
    overflow: hidden;
    height: 24px;
    clear: both;
    padding-bottom: 0;
}
.art-star.ddc {
    padding-top: 12px;
    overflow: hidden
}
.art-star p {
    width: 102px;
    margin: 0 auto;
}
.art-star em {
    background: url("remd-bg.png") no-repeat 0;
    width: 18px;
    height: 16px;
    display: block;
    float: left;
    font-style: normal;
    margin: 0 4px;
    cursor: pointer;
}
.art-star p em.active, .art-star p em.active1 {
    background: url("remd-bg-active.png") no-repeat;
}
.art-stars {
    padding: 12px 0;
    overflow: hidden;
    height: 24px;
    clear: both;
    padding-bottom: 0;
}
.art-stars.ddc {
    padding-top: 12px;
    overflow: hidden
}
.art-stars p {
    width: 102px;
    margin: 0 auto;
}
.art-stars em {
    background: url("remd-bg.png") no-repeat 0;
    width: 18px;
    height: 16px;
    display: block;
    float: left;
    font-style: normal;
    margin: 0 4px;
    cursor: pointer;
}
.art-stars p em.active, .art-stars p em.active1 {
    background: url("remd-bg-active.png") no-repeat 0 / 18px 16px;
}
.editor-tag {
    color: #c8c8c8;
    font-size: 14px;
    padding: 6px;
    word-wrap:break-word; white-space:normal; word-break:break-all;
}
.editor-tag-fenlei.special{
    margin-bottom: 14px;
}
.editor-tag > div,.editor-tags > div{
    padding: 4px 0
}
.editor-tag > div p,.editor-tags > div p{
    margin: 0 0 10px 0;
    clear: both;
    overflow: hidden;
    padding-bottom: 2px;
    border: 1px solid #fff;
}
.editor-tag > div.editor-tag-biaoq {
    white-space: normal;
    width: 254px;
    word-break: break-all;
    word-wrap: break-word;
}
.editor-tag a {
    font-size: 12px;
    margin-left: 8px;
    cursor: pointer
}
.editor-tag a:hover, .editor-tag a.active {
    border-bottom: 2px solid #333;
}
.editor-tag-pos {
    padding-bottom: 6px;
    overflow: hidden;
    clear: both;
}
.editor-tag-xbianbiaoq {
    margin: 10px 0
}
.e-bord {
    border: 1px solid #f0f0f0;
    overflow: hidden;
    clear: both;
    margin: 6px 0;
    padding: 6px;
}
.editor-tag .label {
    border: 1px solid #eee;
    border-radius: 3px;
    float: left;
    font-size: 12px;
    line-height: 30px;
    margin-right: 5px;
    padding: 0 22px 0 5px;
    position: relative;
    margin-bottom: 5px;
    min-width: 30px;
}
.editor-tag .label .iconfont {
    border-left: 1px solid #eee;
    color: #ccc;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 20px;
}
.editor-tag .label .iconfont:hover {
    background: #eee;
    color: #333
}
.editor-tag .label .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
}
.editor-tag .text-input {
    float: left;
    line-height: 30px;
    margin-left: 10px;
    position: relative;
    width: 100%;
}
.editor-tag .text-input > input {
    background-color: transparent;
    border: 0 none;
    height: 30px;
    position: relative;
    z-index: 2;
    font-size: 12px;
    width: 100%;
}
.editor-tags {
    color: #c8c8c8;
    font-size: 14px;
    padding: 6px
}
.editor-tags > p {
    padding: 4px 0
}
.editor-tags > p.editor-tag-biaoq {
    white-space: normal;
    width: 254px;
    word-break: break-all;
    word-wrap: break-word;
}
.editor-tags a {
    font-size: 12px;
    margin-left: 8px;
    cursor: pointer
}
.editor-tags a.active {
    border-bottom: 2px solid #333;
}
.editor-tag-pos {
    padding-bottom: 6px;
    overflow: hidden;
    clear: both;
}
.editor-tag-xbianbiaoq {
    margin: 10px 0
}
.e-bord {
    border: 1px solid #f0f0f0;
    overflow: hidden;
    clear: both;
    margin: 6px 0;
    padding: 6px;
}
.editor-tags .label {
    border: 1px solid #eee;
    border-radius: 3px;
    display: inline-table;
    font-size: 12px;
    line-height: 30px;
    margin-right: 5px;
    padding: 0 22px 0 5px;
    position: relative;
    margin-bottom: 5px;
}
.editor-tags .label.mp{
    padding-right: 5px;
}
.editor-tags .label .iconfont {
    border-left: 1px solid #eee;
    color: #ccc;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 20px;
}
.editor-tags .label .iconfont:hover {
    background: #eee;
    color: #333
}
.editor-tags .label .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
}
.editor-tags .text-input {
    float: left;
    line-height: 30px;
    margin-left: 10px;
    position: relative;
    width: 100%;
}
.editor-tags .text-input > input {
    background-color: transparent;
    border: 0 none;
    height: 30px;
    position: relative;
    z-index: 2;
    font-size: 12px;
    width: 100%;
}
.editor-tags {
    color: #c8c8c8;
    font-size: 14px;
    padding: 6px;
}
.icon-close-b:before {
    content: "X";
}
/*删除*/
.container .art_box li .art_img i.delete_status {
    background: rgba(0, 0, 0, 0) url("close-bg.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 22px;
    right: 6px;
    position: absolute;
    text-indent: -9999px;
    top: 6px;
    width: 22px;
    z-index: 10;
}
.container .art_box li .art_img i.delete_status.none {
    display: none;
}
/*恢复*/
.container .art_box li .art_img i.delete_status_restore {
    background: rgba(0, 0, 0, 0.5) url("fanhuibg.png") no-repeat 5px 2px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    height: 22px;
    line-height: 20px;
    padding-left: 34px;
    padding-right: 10px;
    position: absolute;
    right: 6px;
    top: 8px;
}
.container .art_box li .art_img i.delete_status_restore.none {
    display: none;
}
/*//版权问题||需要扣图*/
.art-tag-m {
    clear: both;
    overflow: hidden;
    padding: 8px 0;
}
.art-tag-m i {
    background-image: url("tag-bg-v.png");
    background-repeat: no-repeat;
    border: 1px solid #fff;
    color: #808080;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-left: 26px;
    padding-right: 12px;
    text-indent: inherit;
    z-index: 10;
}
.art-tag-m i {
    border-radius: 6px;
    float: left;
    margin-right: 4px;
    font-style: normal;
    margin-left: 8px;
    border: 1px solid #fff
}
.art-tag-ms {
    clear: both;
    overflow: hidden;
    padding: 8px 0;
}
.art-tag-ms i {
    background-image: url("tag-bg-v.png");
    background-repeat: no-repeat;
    border: 1px solid #fff;
    color: #808080;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-left: 26px;
    padding-right: 12px;
    text-indent: inherit;
    z-index: 10;
}
.art-tag-ms i {
    border-radius: 6px;
    float: left;
    margin-right: 4px;
    font-style: normal;
    margin-left: 8px;
    border: 1px solid #fff
}
.art-tag-ms i.target_status_bq {
    background-position: 0 -6px;
    padding-left: 32px;
}
.art-tag-ms i.target_status_bq.active {
    background: #6cf url("tag-bg-v.png") no-repeat scroll -4px -114px;
    color: #fff;
}
.art-tag-ms i.target_status_kt {
    background-position: -118px -5px;
}

.art-tag-ms i.target_status_kt.active {
    background: #6cf url("tag-bg-v.png") no-repeat scroll -117px -114px;
    color: #fff;
}
.art-tag-m i:hover {
    border: 1px solid #c8c8c8
}
.art-tag-m i.target_status_bq {
    background-position: 0 -6px;
    padding-left: 32px;
}
.art-tag-m i.target_status_bq.active {
    background: #6cf url("tag-bg-v.png") no-repeat scroll -4px -114px;
    color: #fff;
}
.art-tag-m i.target_status_kt {
    background-position: -118px -5px;
}
.art-tag-m i.target_status_kt.active {
    background: #6cf url("tag-bg-v.png") no-repeat scroll -117px -114px;
    color: #fff;
}
.art-tag-m i.target_status_kt.active:hover, .art-tag-m i.target_status_bq.active:hover {
    border: 1px solid #6cf
}
.art-editor-sut {
    border: 1px solid #f0f0f0;
    border-top: 0px;
    clear: both;
    line-height: 34px;
    overflow: hidden;
}
.art-editor-sut.vis {
    display: none
}
.art-editor-sut input {
    display: block;
    margin: 16px 12px;
    background: #fff;
    border: 1px solid #f0f0f0;
    width: 90%;
    padding: 5px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease .5s;
}
.art-editor-sut input:hover{
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    border: 1px solid #6cf;
}
.container .art_box li .art_img .edit-bg{
    background-color: #000;
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0.6;
    position: absolute;
    width: 270px;
    height: 50px;
    display: none;
    height: 50px;
}
.edit.ed_bm {
    background: rgba(0, 0, 0, 0) url("user_icon.png") no-repeat -514px -1203px;
    bottom: 5px;
    cursor: pointer;
    height: 36px;
    left: 110px;
    position: absolute;
    width: 86px;
}
.editor-tag p span.cty{font-size: 12px; margin-right: 6px; margin-top: 6px; display: block; float: left; color: #333}
.editor-tag p span.cty span{width: 200px; display: inline-block}
.editor-tag .edBox{
    margin: 12px 0;
    position: absolute;
    top:45px;
    left: -10px;
    display: none;
    width: 280px;
    background: #f6f5fa;
    border: 1px solid #d5d5d5;
    z-index: 100;
}
.editor-tag .edBox:before{
    content: "";
    border: solid transparent;
    border-width: 8px 10px;
    border-bottom-color: #d5d5d5;
    position: absolute;
    top: -17px;
    right: 23px;
    margin-left: -10px;
}
.editor-tag .edBox a{
    padding: 5px 0;
    display: inherit;
    margin-left: 0;
    line-height: 30px;
    position: relative;
}
.editor-tag .edBox a font{visibility: hidden}
.editor-tag .edBox a:hover,.editor-tag .edBox a.active{
    border-bottom: 0;
}
.editor-tag .edBox a.active font{
    visibility: visible;
}
.editor-tag .edBox a:hover span,.editor-tag .edBox a.active span{
    border-bottom: 2px solid #333;
}
.editor-tag .edBox .edLeft{
    padding: 6px 3px;
    text-align: center;
    min-width: 110px;
    float: left;
}
.editor-tag .edBox .edSmall{
    min-width: 163px;
    text-align: center;
    padding: 6px 0;
    float: left;
    background: #fff;
    border-left: 1px solid #d5d5d5;
    min-height: 336px;
}
.editor-tag span.s_box_sel{
    border: 1px solid #000;
    padding:1px 4px;
    color: #333;
    border-radius: 3px;
    margin-left: 6px;
    cursor: pointer;
    display: inline-block;
    float: right;
    width: 32px;
    right: 0;
    background: #fff;
}
.editor-tag .edBox a font{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 6px solid #fff;
    border-bottom: 5px solid transparent;
    position: absolute;
    right: -4px;
    top: 16px;
}
.editor-tag-fenlei.Aworks{
    position: relative;
}
.mune-select #m-s-tag{
    display: block;
    float: right;
}
.mune-select #m-s-tag span{
    border: 0px;
    float: left;
    display: block;
    margin: 0 12px;
}
.mune-select #m-s-tag span:hover,.mune-select #m-s-tag span.active{
    border-bottom: 2px solid #000;
    cursor: pointer;
}