input:focus,
textarea:focus {
	outline: none;
}
/*用户地址*/
.address-warp {
	display: none;
	width: 100%;
	clear: both;
}
.address-warp:after {
	content: '';
	display: block;
	clear: both;
}
.address-warp li {
	position: relative;
	display: block;
	float: left;
	width: 298px;
	height: 120px;
	background-color: #fff;
	background-position: right bottom;
	border: 1px solid #ddd;
	border-radius: 3px;
	color: #808080;
	font-size: 14px;
	margin-bottom: 12px;
	margin-right: 12px;
	transition: all ease .2s;
}
.address-warp li:hover {
	border: 1px solid #6cf;
	box-shadow: 3px 3px 10px rgba(102, 204, 255, .5);
}
.address-warp li:hover .edit,
.address-warp li:hover .set-default a {
	display: block;
}
.address-warp li.la_add {
	display: block;
	width: 298px;
	height: 120px;
	line-height: 120px;
	padding: 0;
	cursor: pointer;
	text-align: center;
	background-color: #fff;
	word-break: break-all;
}
.address-warp li.la_add a {
	color: #808080;
	display: block;
}
.address-warp li.la_add a i {
	font-size: 18px;
	vertical-align: middle;
	margin-right: 10px;
}
.address-warp li.ui-active {
	border: 1px solid #6cf;
	background: #fff url(address/Checkoutgou.gif) no-repeat right bottom;
}
.address-warp .set-default {
	position: absolute;
	top: 0;
	right: 8px;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	text-align: right;
}
.address-warp .set-default a {
	display: none;
	cursor: pointer;
	color: #0763a9;
}
.address-warp .set-default a.def {
	display: block;
	cursor: default;
	color: #6cf;
}
.address-warp li .edit {
	position: absolute;
	bottom: 6px;
	left: 10px;
	display: none;
	color: #6cf;
	font-size: 12px;
	height: 18px;
}
.address-warp li .edit a {
	cursor: pointer;
	margin-right: 6px;
	color: #0763a9;
}
.address-warp li .name {
	border-bottom: 1px dashed #ddd;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	margin-bottom: 8px;
}
.address-warp li .address {
	height: 50px;
	line-height: 16px;
}
.address-warp li .address-act {
	display: block;
	height: 120px;
	padding: 0 10px;
	color: #808080;
	cursor: default;
}

/*添加地址*/
.newAddressBox {
	display: none;
}
#new_useradr {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 11;
	width: 490px;
	background-color: #fff;
	border: 1px solid #eff0f3;
	border-radius: 6px;
	box-shadow: 0 0 20px #eff0f3;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
#new_useradr ul#maodi {
	padding: 15px 35px;
}

#new_useradr li {
	clear: both;
	padding: 3px 0;
	font-size: 14px;
	overflow: hidden;
}
#new_useradr li p {
	float: left;
	width: 278px;
}
#new_useradr li label,
#new_useradr li .subject {
	display: block;
	float: left;
	width: 140px;
	font-size: 14px;
	font-weight: normal;
}
#new_useradr li label {
	height: 36px;
	line-height: 36px;
}
#new_useradr li label i {
	font-size: 18px;
	color: #f30;
	margin-left: 6px;
	vertical-align: middle;
}
#new_useradr li.set-default label {
	float: none;
	width: auto;
    height: 36px;
    line-height: 36px;
	text-indent: 140px;
}
#new_useradr li.set-default label input[type=checkbox] {
	margin-right: 5px;
}
#new_useradr li .regional {
	display:block;
	width:276px;
	height:34px;
	line-height: 34px;
	border: 1px solid #ddd;
	text-indent: 8px;
	font-size: 14px;
	cursor: default;
}
#new_useradr li .input,
#new_useradr li .w300 {
	width: 260px;
	line-height: 24px;
	background-color: #fff;
	border: 1px solid #ddd;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 5px 8px;
}
#new_useradr li .w300 {
	height: 48px;
	resize: none;
}
#new_useradr li .error {
	display: block;
	width: 100%;
	height: 24px;
	line-height: 24px;
	color: #f30;
	font-size: 12px;
}
a.btn_addr {
	float: left;
	display: block;
	width: 170px;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	background-color: #45aaf2;
	margin-left: 140px;
	color: #fff;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	cursor: pointer;
}
a.btn_addr:hover{
	background: #2C9FF1;
}
#new_useradr .items li p .area {
	border: 1px solid #c8c8c8;
	display: block;
	margin-bottom: 20px;
	padding: 8px 0;
	width: 275px;
}
.f_gray {
	color: #999;
}
.colse_out .colse {
	right: 4px;
	top: 3px;
}
.colse:hover {
	background-position: -1px -229px;
	cursor: pointer
}
.fx_bg {
	background-image: url(address/fx-ico.png);
	background-repeat: no-repeat;
}
.colse {
	background-position: -1px -202px;
	height: 18px;
	position: absolute;
	right: 6px;
	top: 6px;
	width: 16px;
}
.colse_out font {
	color: #96a0aa;
	display: inherit;
	font-size: 18px;
	padding: 6px 0 0 12px;
}
.address-mask {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .6);
}