<!DOCTYPE html>
<html ng-app="uersinfo">
    <head lang="en">
        <meta charset="UTF-8">
        <title>info</title>
            <link rel="stylesheet" href="/font/iconfont.css">
            <link rel="stylesheet" href="/css/header.css">
            <link rel="stylesheet" href="/css/info.css">
    </head>
<body ng-controller="infoCtr">
    <div modheaderfull></div>
    <div moduserhead></div>
    <!-- info-warp -->

    <div class="layout info">
        <div class="info-pic" upfileimg>
            <span class="info-pic-thumb" style="background-image:url({{imgUrl}}{{inforMation.imageUrl}}{{qnIcon}})"></span>
            <span class="info-pic-photo">
                <i class="iconfont icon-xq-photo"></i>
                <input type="file" title="" multiple="multiple" name="upIco" id="upIco" class="fileDemo" accept="image/jpeg,image/gif,image/png">
            </span>
        </div>
        <div class="info-data">
            <ul>
                <li>
                    <span class="label">ID：</span>
                    <div class="info-input"><i ng-bind="inforMation.accountName"></i></div>
                </li>
                <li>
                    <span class="label">电子邮箱：</span>
                    <div class="info-input"><i ng-bind="inforMation.email"></i></div>
                </li>
                <li>
                    <span class="label">昵称：</span>
                    <div class="info-input"><input type="text" maxlength="30" value="{{inforMation.nikeName}}" class="text" ng-blur="onName()" id="userName" /><span class="sp_hint"></span></div>
                </li>
                <li>
                    <span class="label">我的简介：</span>
                    <div class="info-input"><textarea id="user_desc" onkeydown="if(event.keyCode==13){event.keyCode=0;event.returnValue=false;}" maxlength="160" ng-bind="inforMation.description"></textarea></div>
                </li>
                <li>
                    <span class="label">性别：</span>
                    <div class="info-input" id="gender">
                        <label>
                            <i></i><input type="radio" name="gender" value="2" id="male">男
                        </label>
                        <label>
                            <i></i><input type="radio" name="gender" value="1" id="female">女
                        </label>
                        <label>
                            <i></i><input type="radio" name="gender" value="0" id="Secret">保密
                        </label>
                    </div>
                </li>
                <li class="info-bnt">
                    <a class="revamp-pwd" ng-click="ChangePwdBtn()">修改密码</a>
                </li>
                <li class="info-cancel-confirm">
                    <a class="cancel" ng-click="cancel()">取消</a>
                    <a class="confirm" ng-click="confirm()">确定</a>
                </li>
            </ul>
        </div>
    </div>
    <!--changepsw-->
    <div class="change-pwd" id="changePwdBox">
        <div class="colse-box">
            <font>修改密码</font>
            <a class="colse" href="javascript:;" id="pwdClose"><i class="iconfont icon-close-b"></i></a>
        </div>
        <div class="change-pwd-form">
            <ul>
                <li>
                    <span>旧密码</span><div><input type="text" value="" id="oldpwd" placeholder="旧密码" /><i class="error-msg" id="oldMsg"></i></div>
                </li>
                <li>
                    <span>新密码</span><div><input type="text" value="" id="newpwd" placeholder="新密码" /><i class="error-msg" id="newMsg"></i></div>
                </li>
                <li>
                    <span>确认密码</span><div><input id="confirmpwd" type="text" value="" placeholder="确认密码" /><i class="error-msg" id="confirMsg"></i></div>
                </li>
            </ul>
            <div class="bnt">
                <a class="bnt-confirm" ng-disabled="signup_form.$invalid" ng-click="ChangeEditPwd()">确定</a>
            </div>
        </div>
    </div>
    <div class="box-fixed"></div>
    <!-- JS -->
    <script src="/js/config.js"></script>
    <script src="/js/ArtJS/lib/jquery-2.1.4.min.js"></script>
    <script src="/js/ArtJS/ArtJS.js"></script>
    <script src="/js/ArtJS/plug-in-unit.js"></script>
    <script src="/js/init.js"></script>
    <script src="/js/ArtJS/lib/angular.min.js"></script>
    <script src="/js/headPortrait.js"></script>
    <script src="/module/mod-header-full.js"></script>
    <script src="/js/info.js"></script>
</body>
</html>