@charset "utf-8";
/* 混合宏 */
.art-box {
  padding-top: 10px;
  display: none;
}
.art-box:before,
.art-box:after {
  content: '';
  display: table;
}
.art-box:after {
  clear: both;
}
.art-box li {
  float: left;
  display: block;
  width: 270px;
  height: 380px;
  margin: 0 17px 20px 0;
  border: 1px solid #f0f0f0;
  overflow: hidden;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.art-box li:nth-child(3n) {
  margin-right: 0px;
}
.art-box li:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  /*.art-img:after {
				.show;
				.tranf(~"skewX(-24deg) @{tranX}(330px)");
			}*/
}
.art-box p {
  display: block;
}
.art-box .art-img {
  position: relative;
  display: block;
  width: 270px;
  height: 270px;
  overflow: hidden;
  /*&:after {
			content: '';
			.posa;
			top: 0;
			left: 0;
			.wh(70, 100%);
			.tran(transform ease .6s);
			.hide;
			.g-right(~"@{tran} 0%, @{white} 50%, @{tran} 100%");
			.tranf(~"skewX(-24deg) @{tranX}(-125px)");
		}*/
}
.art-box .art-img img {
  width: 100%;
}
.art-box .art-info {
  text-align: center;
  padding-top: 20px;
}
.art-box .art-title {
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  float: left;
  clear: left;
  margin-bottom: 24px;
}
.art-box .art-price {
  float: right;
  padding: 0 10px;
}
.art-box .art-user {
  display: block;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  cursor: pointer;
}
.art-box .art-user b {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 10px;
}
.art-box .art-user img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.art-box .art-user:after {
  content: attr(data-user);
  display: inline-block;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  font-size: 12px;
  color: #999999;
}
.art-box .art-ctr {
  margin-top: 10px;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
}
.art-box .art-ctr:before,
.art-box .art-ctr:after {
  content: '';
  display: table;
}
.art-box .art-ctr:after {
  clear: both;
}
.art-box .art-ctr span {
  float: left;
  display: block;
  width: 50%;
  text-align: center;
  font-size: 14px;
  color: #666666;
}
.art-box .art-ctr a.icon-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 6px;
  font-size: 18px;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.art-box .art-ctr a.icon-icon:hover,
.art-box .art-ctr a.icon-icon.art-light {
  color: #ffc456;
  cursor: pointer;
}
.art-box .art-ctr a.icon-icon:hover:before {
  -webkit-animation: jump-inf 1.6s ease infinite;
  -moz-animation: jump-inf 1.6s ease infinite;
  animation: jump-inf 1.6s ease infinite;
}
@-webkit-keyframes jump-inf {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  7% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  14% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  19% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  24% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  27% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  30% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-moz-keyframes jump-inf {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  7% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  14% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  19% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  24% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  27% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  30% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes jump-inf {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  7% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  14% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  19% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  24% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  27% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  30% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
.container .loading {
  width: 100%;
  height: 100px;
}
