@charset "utf-8";
/* 混合宏 */
.mod-home-tag {
  width: 900px;
  height: 41px;
  opacity: 1;
  z-index: 3;
  position: relative;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
}
.mod-home-tag:before,
.mod-home-tag:after {
  content: '';
  display: table;
}
.mod-home-tag:after {
  clear: both;
}
.mod-home-tag .layout {
  position: fixed;
  z-index: 3;
  height: 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f0f0;
}
.mod-home-tag .home-tag {
  float: left;
}
.mod-home-tag dl {
  font-size: 12px;
}
.mod-home-tag dl dt {
  position: relative;
}
.mod-home-tag dl dd {
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0;
  visibility: hidden;
  transform-origin: center 0;
  background-color: #ffffff;
}
.mod-home-tag dl:hover dd {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.mod-home-tag dl a {
  display: block;
  cursor: pointer;
}
.mod-home-tag.s-hide {
  opacity: 0;
}
.mod-home-side-content {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  transition: 0.1s;
  padding-left: 20px;
}
.sort-product {
  position: relative;
  float: left;
  text-align: center;
}
.sort-product dt {
  position: relative;
  width: 100px;
  height: 40px;
  line-height: 34px;
}
.sort-product s {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: -1px;
  margin-left: -9px;
  display: block;
  width: 18px;
  height: 9px;
  visibility: hidden;
}
.sort-product s:before,
.sort-product s:after {
  content: '';
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
}
.sort-product s:after {
  top: 1px;
  left: 1px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ffffff;
}
.sort-product s:before {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #dddddd;
}
.sort-product dd {
  position: absolute;
  left: -28px;
  width: 164px;
  margin-top: -1px;
  border: 1px solid #eeeeee;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.sort-product a {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}
.sort-product a:hover span,
.sort-product a.s-active span {
  border-bottom: 2px solid #333333;
  color: #333333;
}
.sort-product span {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  padding: 0 5px 2px;
  color: #999999;
  border-bottom: 2px solid transparent;
}
.sort-product:hover s {
  visibility: visible;
}
.sort-side {
  width: 100%;
  font-size: 14px;
  padding-bottom: 50px;
}
.sort-side dt {
  display: none;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  font-size: 15px;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
  font-weight: 700;
}
.sort-side a {
  float: left;
  display: block;
  width: 100%;
  clear: both;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  cursor: pointer;
  color: #999999;
  font-size: 12px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.sort-side a:hover,
.sort-side a.s-active {
  font-weight: 700;
  color: #333333;
}
.sort-side a:hover b,
.sort-side a.s-active b {
  border: 1px solid #999999;
}
.sort-side a:hover b i,
.sort-side a.s-active b i {
  opacity: 1;
}
.sort-side b {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 14px;
  margin-right: 8px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
}
.sort-side b i {
  opacity: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.sort-side .sort-dl {
  position: relative;
}
.sort-side .sort-dl:before,
.sort-side .sort-dl:after {
  content: '';
  display: table;
}
.sort-side .sort-dl:after {
  clear: both;
}
.sort-side .sort-dl:hover .sort-dd {
  visibility: visible;
  opacity: 1;
}
.sort-side .sort-dt {
  overflow: hidden;
}
.sort-side .sort-dt i {
  position: absolute;
  top: 6px;
  right: 10px;
  height: 20px;
  line-height: 18px;
  color: #999999;
}
.sort-side .sort-dd {
  position: absolute;
  top: 0;
  left: 130px;
  width: 450px;
  padding-left: 12px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 15px;
}
.sort-side .sort-dd div {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 6px 0;
  overflow: hidden;
}
.sort-side .sort-dd div a {
  width: 33.33%;
  clear: none;
  box-sizing: border-box;
  padding: 0 5px;
  text-align: center;
}
.sort-side .sort-dd s {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 4px;
  margin-top: -9px;
  display: block;
  width: 9px;
  height: 18px;
}
.sort-side .sort-dd s:before,
.sort-side .sort-dd s:after {
  content: '';
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
}
.sort-side .sort-dd s:before {
  top: 0;
  left: 0;
  border-top: 9px solid transparent;
  border-right: 9px solid #cccccc;
  border-bottom: 9px solid transparent;
}
.sort-side .sort-dd s:after {
  top: 1px;
  left: 1px;
  border-top: 8px solid transparent;
  border-right: 8px solid #ffffff;
  border-bottom: 8px solid transparent;
}
.publish-works {
  float: right;
  display: block;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  margin-top: 12px;
  font-size: 12px;
  color: #999999;
  cursor: pointer;
}
.publish-works i {
  margin-right: 4px;
  color: #ffc456;
  font-size: 12px;
}
