/* 混合宏 */
.lang_CN .header .logo {
  background-image: url("/images/logo_CN_1x.png");
  background-image: -webkit-image-set(url("/images/logo_CN_1x.png") 1x, url("/images/logo_CN_2x.png") 2x);
  background-repeat: no-repeat;
}
.lang_US .header .logo {
  position: absolute;
  background-image: url("/images/logo_US_1x.png");
  background-image: -webkit-image-set(url("/images/logo_US_1x.png") 1x, url("/images/logo_US_2x.png") 2x);
  background-repeat: no-repeat;
}
